.mainPage{
  h1{
    margin-bottom: var(--section-vertical-margin);
  }
  &__buttonCategorysTickets{
    display: flex;
    margin-bottom: var(--section-vertical-margin);
    gap: 1rem;
    a{
      width: 100%;
    }
    @media screen and (max-width: 545px){
      &{
        flex-direction: column;
      }
    }
  }
}