.headline{

  &.headlineSuccess{
    color: var(--green-light);
  }
  &.headlineFail{
    color: var(--red-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    span{
      color: var(--blue-normal);
      cursor: pointer;
      text-decoration: underline;
      &:hover{
        color: var(--red-normal);
      }
    }

    @media screen and (max-width: 620px){
      &{
        flex-direction: column;
        align-items: start;
        gap: 1rem;
      }
    }
  }
}

.mistake__items{
  margin-top: var(--section-vertical-margin);
}
.mistake__item{
  margin-bottom: 55px;
}